<div x-mojo-element="FilterField" id="eventFilter" class="eventFilter" name="eventFilter" ></div>

<div id="header" class="palm-header main-header">
    <div class="left">
    PreJoind.In
    </div>
    <div id="eventTypeButton" class="button">
        <span class="label">hot</span>
    </div>
</div>

<div x-mojo-element="List" id="eventList" name="eventList" class="eventList"></div>

<div class="palm-scrim" id="progressScrim" style="display:none">
    <div x-mojo-element="Spinner" id="progressSpinner"></div>
</div>