<div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper" id="commentHeaderWrapper">
        <div class="title left">
            #{-title}
        </div>
        <div class="subtitle left">
            #{-subtitle}
        </div>
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title">Comment</div>
    <div class="palm-list">
        <div class="single palm-row">
        <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
            <div x-mojo-element="TextField" id="commentTextField" class="commentTextField" name="commentTextField"></div>
        </div>
        </div>
    </div>
</div>

<div x-mojo-element="Button" id="saveButton" class="saveButton" name="saveButton"></div>