<div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper" id="eventDetailHeader">
    </div>
</div>

<!-- EVENT DESCRIPTION -->
<table id="eventDescriptionDivider" class="palm-divider collapsible spacer" x-mojo-touch-feedback="delayed">
    <tbody>
        <tr>
            <td class="left"></td>
            <td class="label">
                Description
            </td>
            <td class="line" width="100%"></td>
            <td>
                <div id="eventDescriptionDividerArrow" class="palm-arrow-expanded arrow_button"></div>
            </td>
            <td class="right"></td>
        </tr>
    </tbody>
</table>
<div id="eventDescriptionDrawer" x-mojo-element="Drawer">
</div>

<!-- EVENT TALKS -->
<table id="eventTalksDivider" class="palm-divider collapsible spacer" x-mojo-touch-feedback="delayed">
    <tbody>
        <tr>
            <td class="left"></td>
            <td class="label">
                Talks
            </td>
            <td class="line" width="100%"></td>
            <td>
                <div id="eventTalksDividerArrow" class="palm-arrow-expanded arrow_button"></div>
            </td>
            <td class="right"></td>
        </tr>
    </tbody>
</table>
<div id="eventTalksDrawer" x-mojo-element="Drawer">
    <div id="talksProgressSpinnerWrapper" class="smallSpinnerGroup" style="display: none;">
        <span class="label">Loading Talks...</span>
        <div x-mojo-element="Spinner" id="talksProgressSpinner" class="spinner"></div>
    </div>
    <div x-mojo-element="List" id="eventTalksList" name="eventTalksList" class="eventTalksList"></div>
</div>

<!-- EVENT COMMENTS -->
<table id="eventCommentsDivider" class="palm-divider collapsible spacer" x-mojo-touch-feedback="delayed">
    <tbody>
        <tr>
            <td class="left"></td>
            <td class="label">
                Comments
            </td>
            <td class="line" width="100%"></td>
            <td>
                <div id="eventCommentsDividerArrow" class="palm-arrow-closed arrow_button"></div>
            </td>
            <td class="right"></td>
        </tr>
    </tbody>
</table>
<div id="eventCommentsDrawer" x-mojo-element="Drawer">
    <div id="commentsProgressSpinnerWrapper" class="smallSpinnerGroup" style="display: none;">
        <span class="label">Loading Comments...</span>
        <div x-mojo-element="Spinner" id="commentsProgressSpinner" class="spinner"></div>
    </div>
    <div x-mojo-element="List" id="eventCommentsList" name="eventCommentsList" class="eventCommentsList"></div>
</div>