<div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper" id="eventDetailHeader">
    </div>
</div>

<!-- EVENT TALKS -->
<table id="eventDescriptionDivider" class="palm-divider collapsible spacer" x-mojo-touch-feedback="delayed">
    <tbody>
        <tr>
            <td class="left"></td>
            <td class="label">
                Description
            </td>
            <td class="line" width="100%"></td>
            <td>
                <div id="eventDescriptionDividerArrow" class="palm-arrow-expanded arrow_button"></div>
            </td>
            <td class="right"></td>
        </tr>
    </tbody>
</table>
<div id="eventDescriptionDrawer" x-mojo-element="Drawer">
</div>

<!-- EVENT TALKS -->
<table id="eventTalksDivider" class="palm-divider collapsible spacer" x-mojo-touch-feedback="delayed">
    <tbody>
        <tr>
            <td class="left"></td>
            <td class="label">
                Talks
            </td>
            <td class="line" width="100%"></td>
            <td>
                <div id="eventTalksDividerArrow" class="palm-arrow-closed arrow_button"></div>
            </td>
            <td class="right"></td>
        </tr>
    </tbody>
</table>
<div id="eventTalksDrawer" x-mojo-element="Drawer">
    <p>HERP DERP DERP</p>
</div>