<div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper" id="settingsHeaderWrapper">
        <div class="title left">
            PreJoind.In Preferences
        </div>
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title">Account</div>
    <div class="palm-list">
        <div class="first palm-row">
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title">
                <div x-mojo-element="TextField" id="inputUserName" class="inputUserName" name="inputUserName"></div>
            </div>
        </div>
        </div>
        
        <div class="last palm-row">
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title">
                <div x-mojo-element="PasswordField" id="inputPassword" class="inputPassword" name="inputPassword"></div>
            </div>
        </div>
        </div>
    </div>
</div>