<div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper" id="settingsHeaderWrapper">
        <div class="title left">
            Preferences
        </div>
    </div>
</div>


<div class="palm-group">
    <div class="palm-group-title">Account</div>
    <div class="palm-list">
        <div class="single palm-row">
        <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
            <div x-mojo-element="Button" id="accountButton" class="accountButton" name="accountButton"></div>
            <div x-mojo-element="Button" id="removeAccountButton" class="removeAccountButton" name="removeAccountButton"></div>
        </div>
        </div>
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title">Events Listing</div>
    <div class="palm-list">
        <div class="single palm-row">
        <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
            
            <div class="title">
                <div class="label">Username</div>
                
            </div>
            
        </div>
        </div>
    </div>
</div>