body.wallpaper,
body.palm-default {
    background: #fff;
}

.eventList {
    margin-top: 50px;
}

/* ** EVENT LIST ** */
.palm-row.event .title {
}

#eventFilter .filter-field-container-height {
    height:96px;
}

#header.main-header {
    margin-right: 0;
}

#header .left {
    float: left;
}

#header .button {
    -webkit-border-image:url(../images/header-button.png) 0 16 0 16 repeat repeat;
    border-width: 0px 16px 0px 16px;
    -webkit-box-sizing: border-box;
    float:right;
    height:34px;
    margin: 9px 0px 0px 0px;
    text-transform: uppercase;
    padding-top:1px;
    position:relative;
    font-size: 14px;
    line-height: 32px;
}

#header .button:active,
#header .button.selected {
    -webkit-border-image:url(../images/header-button-press.png) 0 16 0 16 repeat repeat;
}

#eventTypeButton {
    margin-right: -15px !important;
}

.eventTypePopup {
    top: 10px;
    left: 35%;
    
    margin: 0;
    padding: 0;
}

/* ** EVENT DETAIL ** */
.eventDetailDescription {
    white-space: pre-wrap;
    
    font-size: 14px;
    margin: 0 15px 0 15px;
}

/* ** TALK DETAIL ** */
.talkDetailDescription {
    white-space: pre-wrap;
    
    font-size: 14px;
    margin: 0 15px 0 15px;
}

.comment .comment-body {
    white-space: pre-wrap;
}

.center-large-spinner {
    position: relative;
    left: 50%;
    margin-left: -64px;
}

.rating {
    width: 60px;
    height: 11px;
    display: inline-block;
    
    background: url('../images/rating-0.gif') top left no-repeat;
}

.rating.rank-1 {
    background-image: url('../images/rating-1.gif');
}

.rating.rank-2 {
    background-image: url('../images/rating-2.gif');
}

.rating.rank-3 {
    background-image: url('../images/rating-3.gif');
}

.rating.rank-4 {
    background-image: url('../images/rating-4.gif');
}

.rating.rank-5 {
    background-image: url('../images/rating-5.gif');
}

.talk-type {
    width: 21px;
    height: 16px;
    display: inline-block;
}

.talk-type.talk-type-none {
    display: none;
}

.talk-type.talk-type-talk {
    background: url('../images/talk.gif') top left no-repeat;
}

.talk-type.talk-type-social-event {
    background: url('../images/social-event.gif') top left no-repeat;
}

.talk-type.talk-type-workshop {
    background: url('../images/workshop.gif') top left no-repeat;
}

.talk-type.talk-type-keynote {
    background: url('../images/keynote.gif') top left no-repeat;
}