<div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper" id="talkDetailWrapper">
    </div>
</div>

<div id="slides">
    <div x-mojo-element="Button" id="slidesButton" class="slidesButton" name="slidesButton"></div>
</div>

<!-- TALK DESCRIPTION -->
<table id="talkDescriptionDivider" class="palm-divider collapsible spacer" x-mojo-touch-feedback="delayed">
    <tbody>
        <tr>
            <td class="left"></td>
            <td class="label">
                Description
            </td>
            <td class="line" width="100%"></td>
            <td>
                <div id="talkDescriptionDividerArrow" class="palm-arrow-expanded arrow_button"></div>
            </td>
            <td class="right"></td>
        </tr>
    </tbody>
</table>
<div id="talkDescriptionDrawer" x-mojo-element="Drawer">
</div>

<!-- TALK COMMENTS -->
<table id="talkCommentsDivider" class="palm-divider collapsible spacer" x-mojo-touch-feedback="delayed">
    <tbody>
        <tr>
            <td class="left"></td>
            <td class="label">
                Comments
            </td>
            <td class="line" width="100%"></td>
            <td>
                <div id="talkCommentsDividerArrow" class="palm-arrow-closed arrow_button"></div>
            </td>
            <td class="right"></td>
        </tr>
    </tbody>
</table>
<div id="talkCommentsDrawer" x-mojo-element="Drawer">
    <div id="commentsProgressSpinnerWrapper" class="smallSpinnerGroup" style="display: none;">
        <span class="label">Loading Comments...</span>
        <div x-mojo-element="Spinner" id="commentsProgressSpinner" class="spinner"></div>
    </div>
    <div x-mojo-element="List" id="talkCommentsList" name="talkCommentsList" class="talkCommentsList"></div>
</div>